@import "~normalize.css";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;800&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background: $bg;
  color: $font-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Spartan', sans-serif;
}

.calculator {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  width: calc(100% + 32px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
    &__heading {

    }
}

.theme {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

    &__text {
      font-weight: 700;
      font-size: 12px;
      margin-right: 18px;
    }
    &__input {
      width: 68px;
      
    }
    &__input::before {
      position: absolute;
      margin-top: -20px;
      width: 60px;
      color: $font-white;
      content: "1 2 3";
      font-size: 12px;
    }
}

.result {
  width: 100%;
  background-color: $bg-top;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 20px;
    &__number {
      display: flex;
      justify-content: flex-end;
      font-weight: 600;
      font-size: 48px;
      margin: 24px;
    }
}

.buttons {
  width: 100%;
  background-color: $bg-bottom;
  padding: 16px;
  border-radius: 16px;
}
.numbers button {
  border: none;
  background-color: $button;
  width: 75%;
  font-size: 30px;
  font-weight: 600;
  justify-self: center;
  margin: 12px;
  padding: 10px;
  color: $font-blue;
  border-radius: 8px;
  box-shadow: inset  0px -4px $button-shadow;
}
.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
    &__seven {

    }
    &__eight {

    }
    &__nine {

    }
    &__delete {

    }
    &__four {

    }
    &__five {

    }
    &__six {

    }
    &__plus {

    }
    &__one {

    }
    &__two {

    }
    &__three {

    }
    &__minus {

    }
    &__dot {

    }
    &__zero {

    }
    &__divide {

    }
    &__multiply {

    }
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  &__reset {
  }
  &__equal {
  }
}

.actions button {
  background-color: $button;
  border-radius: 8px;
  margin: 12px;
  padding: 10px;
  color: $font-blue;
  font-weight: bold;
  width: 100%;
  border: none;
  box-shadow: inset  0px -4px $button-shadow;
}

.attribution {
  font-size: 14px;
  margin-top: 64px;
}


