@import "~normalize.css";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700;800&display=swap');


.attribution a { color: hsl(228, 62%, 65%); }

body {
  background: #3b4664;
  color: $font;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Spartan', sans-serif;
}

.calculator {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  width: calc(100% + 32px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
    &__heading {
    }
}

.theme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 8px;
    &__empty {

    }
    &__position {
      width: 100%;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 5px;
      align-self: flex-start;
      margin: 20px -14px 0px 4px;
    }
    &__text {
      font-weight: 600;
      font-size: 12px;
    }
    &__input {
      width: 55px;
      -webkit-appearance: none;
      appearance: none;
      background-color: $bg-bottom;
      border-radius: 36px;
      padding: 4px;
    }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $accent1;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: $accent1;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  background-color: $accent1;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  cursor: pointer;
}

.result {
  width: 100%;
  background-color: $bg-top;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  margin-bottom: 20px;
    &__number {
      display: flex;
      justify-content: flex-end;
      font-weight: 600;
      font-size: 46px;
      margin: 24px;
    }
}

.buttons {
  width: 100%;
  background-color: $bg-bottom;
  padding: 16px;
  border-radius: 10px;
}

.btn {
  border: none;
  background-color: $button;
  width: 94px;
  font-size: 30px;
  font-weight: 700;
  justify-self: center;
  margin: 10px;
  padding: 12px;
  color: $font-second;
  border-radius: 8px;
  box-shadow: inset  0px -4px $button-shadow;
}

.btn-del {
  border: none;
  width: 94px;
  font-weight: 700;
  justify-self: center;
  margin: 10px;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px ;
  color: $font;
  background-color: $accent2;
  box-shadow: inset  0px -4px #495061;
}

.btn-reset {
  background-color: $accent2;
  box-shadow: inset  0px -4px #495061;
  border-radius: 8px;
  margin: 14px;
  padding: 12px;
  color: $font;
  font-weight: bold;
  width: 100%;
  height: 64px;
  border: none;
}

.btn-equal {
  background-color: $accent1;
  box-shadow: inset  0px -4px #793329;
  border-radius: 8px;
  margin: 14px;
  padding: 12px;
  color: $font;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
  height: 64px;
  border: none;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
    &__seven {
    }
    &__eight {

    }
    &__nine {

    }
    &__delete {

    }
    &__four {

    }
    &__five {

    }
    &__six {

    }
    &__plus {

    }
    &__one {

    }
    &__two {

    }
    &__three {

    }
    &__minus {

    }
    &__dot {

    }
    &__zero {

    }
    &__divide {

    }
    &__multiply {

    }
}
.actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  &__reset {
  }
  &__equal {
  }
}
.attribution {
  font-size: 14px;
  margin-top: 64px;
}
@import "breakpoints.scss";